body {
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#page {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

h2, h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

.cv-item {
    margin-bottom: 20px;
}

section {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

li:before {
    content: "•";
    font-size: 20px;
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
}

.contact-info a, .social-box a {
    color: #555;
    font-weight: 600;
    text-decoration: none;
}

.contact-info a:hover, .social-box a:hover {
    color: #000;
}

.social-box {
    display: flex;
    align-items: center;
}

.social-box i {
    font-size: 18px;
    margin-right: 10px;
    color: #555;
}

.social-box i:hover {
    color: #000;
}

.email-phone p {
    font-size: 14px;
}

.email-phone p a {
    color: #555;
}

.email-phone p a:hover {
    color: #000;
}

