body {
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #757575;
}

a:hover {
  color: #FFB300 !important;
  text-decoration: none;
}

#page {
  background-color: #fff;
  margin: 20px auto;
  max-width: 1060px;
}

#header {
  padding: 15px 0;
}

.header-classic h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.header-classic h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0 15px 0;
}

.social-box {
  text-align: right;
  margin-bottom: 10px;
}

.social-box a {
  font-size: 18px;
  color: #424242;
  margin-left: 10px;
}

.social-box a:hover {
  color: #FFB300;
}

.contact-info {
  text-align: right;
  font-size: 13px;
  line-height: 22px;
}

.cv-section {
  padding: 15px 0;
  border-top: 1px solid #E0E0E0;
}

.project-divider {
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: #E0E0E0;
}

.content h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1em;
}

.content h3 {
  font-size: 16px;
  font-weight: bold;
}

.content h4 {
  font-size: 14px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: justify;
}

li:before {
  font-family: 'FontAwesome';
  font-size: 7px;
  content: "";
  margin-right: 8px;
  top: -2px;
  position: relative;
  color: #757575;
}
